<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>

        <main class="container mt-4">
            <h1 class="text-center">Bienvenidos a TechShop</h1>
            <p class="text-center">
                Seleccione una opción del menú para continuar.
            </p>
        </main>

        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>
</html>
